{% extends 'base.html' %}
{% block content %}
<div class="container">

    <h2>Télécharger des photos</h2>
    <form method="post" enctype="multipart/form-data">
 
        {% for form in formset %}
        
        <div class="form-group">
            {{ comic_form.as_p }}
        </div>
        <div class="form-group">
            {{ photo_form.as_p }}
        </div>
        
        <hr>
        <div class="form-group">
        </div>
        {% csrf_token %}
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Publier</button>
    </form>
</div>
{% endblock content %}
