{% load static %}

<html>
    <head>
        <title>Ma Librairie</title>
        <link rel="stylesheet" href="{% static 'style.css'  %}" />

    </head>
    <body>
        <div class="navbar">
            {% if user.is_authenticated %}
            
                <p>Bonjour {{user}}</p>
                {% if perms.blog.add_photo %}
                    <a href="{% url 'photo_upload' %}">Upload a Photo</a>
                {% endif %}        
                    {% if user.profile_photo %}
                    <img class="avatar" src="{{ request.user.profile_photo.url }}">
                {% else %}
                <img class="avatar" src="{% static 'user/profil_default.jpg' %}">
                {% endif %}        
                <p><a href="{% url 'upload_profile_photo' %}">Changer la photo de profil</a></p>
                <a href="{% url 'logout' %}">Se déconnecter</a>
                <!-- <p><a href="{% url 'follow_users' %}">Suivre des utilisateurs</a></p> -->
                <p><a href="{% url 'profile' %}">Mon profil</a></p>
                <p><a href="{% url 'all_profile' %}">voir les autres utilisateurs</a></p>
                
            </div>
        {% else %}
            bienvenue, veuillez vous connectez
            <a href="{% url 'login' %}">Se connecter</a>
            {% endif %}
        <div class="main">
            
        </div>
        {% block content %}{% endblock content %}
      


    </body>
</html>